.profile-container {
  background: #03a9f4;
  height: 182px;
}

.profile {
  color: #fff;
  max-width: 1007px; /* 1024px - 17px, 17px = Cross Browser scrollbar width */
  margin: 0 auto 20px;
}

.profile h1 {
  font-size: 36px;
  margin: 0;
  padding: 26px 0 10px;
}

.profile img {
  margin: 0 10px -20px 0;
  border-radius: 50%;
}

.profile-data-container {
  max-width: 1007px; /* 1024px - 17px, 17px = Cross Browser scrollbar width */
  margin: -62px auto 20px;
}

.profile-data {
  float: left;
  width: calc(100% - 360px);
  padding: 0 20px;
}

@media (max-width: 800px) {
  .profile-data {
    clear: both;
    width: calc(100% - 40px);
    margin-top: 40px;
    background: #03a9f4;
  }
}


/* Sidebar*/

.profile-sidebar {
  float: left;
  width: 300px;
  padding: 10px;
  background: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.profile-sidebar h2 {
  margin: 0 0 10px;
  color: #666;
  font-weight: normal;
}

.profile-sidebar .sidebar-icon {
  float: right;
  color: #1DB2F5;
  font-size: 18px;
}

.profile-sidebar-data {
  margin: 10px 0;
}

.profile-sidebar-data span {
  display: inline-block;
  padding: 5px 0;
}

.profile-sidebar-data .mat-divider {
  margin-bottom: 5px;
}

.facts-icon {
  color: #999;
  font-size: 16px;
  margin-right: 2px;
}


/* Profile Data Table */
/* ng-deep is a bad practise but used because of test task timebox,
encapsulation: ViewEncapsulation.None should be used instead */
::ng-deep .mat-tab-label {
  color: #fff;
}

::ng-deep .mat-tab-header {
  border-bottom-color: #eee;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background: #fff;
}

::ng-deep .mat-tab-body.mat-tab-body {
  margin: 30px 2px 4px 2px;
  padding: 10px;
  background: #fff;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

::ng-deep .mat-tab-body-wrapper {
  overflow: auto;
}

.profile-tab {
  padding: 1px 10px 10px;
  background: #f5f5f5;
}

.profile-tab h2 {
  color: #666;
  font-weight: normal;
}

.profile-tab table {
  font-size: 14px;
  border-spacing: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.profile-tab table td {
  padding: 5px 10px;
  border-bottom: 1px #ddd solid;
}

.profile-edit {
  margin-bottom: -2px;
  opacity: 0.3;
  font-size: 18px;
}

.profile-edit:hover {
  opacity: 0.8;
}
