@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
  width: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}

.clearfix:before,
.clearfix:after { content: ''; display: table; clear: both; }
