.profiles-search-container {
  background: #03a9f4;
  height: 182px;
}

.profiles-search {
  color: #fff;
  max-width: 1007px; /* 1024px - 17px, 17px = Cross Browser scrollbar width */
  margin: 0 auto 20px;
}

.profiles-search h1 {
  font-size: 36px;
  margin: 0;
  padding: 40px 0 40px;
}

.search-form {
  position: relative;
}

.profiles-search input {
  float: left;
  height: 50px;
  width: calc(100% - 145px);
  padding-left: 60px;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 13px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-shadow:
    0 2px 5px -3px rgba(0,0,0,.2),
    0 5px 10px 1px rgba(0,0,0,.14),
    0 1px 14px 2px rgba(0,0,0,.12);
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 18px;
  color: #999;
}

.profiles-search button {
  float: left;
  height: 51px; /* Compensating 1px visual mismatch with the input */
  width: 75px;
  margin: -1px 0 0 10px; /* Compensating 1px visual mismatch with the input */
  background: #2076A2;
  color: #fff;
  font-size: 15px;
  line-height: 10px;
  border: 0;
}

.profiles-search button:hover {
  cursor: pointer;
  background: #185470;
}

::ng-deep table.mat-table thead {
  background: #f4f4f4;
}

.profiles-table {
  width: 100%;
  max-width: 1007px; /* 1024px - 17px, 17px = Cross Browser scrollbar width */
  margin: 20px auto 40px;
}

/* Basic Responsive for mobiles support,
Ideally for that king of DataTables instead of Responsive design we should use Adaptive with rethinking on how to hide
the unnecessary data on mobiles and show it on demand for the mobile users (with "expand" button for example) */
@media (max-width: 600px) {
  .profiles-table {
    overflow-x: scroll;
  }
}

.avatar img {
  margin-top: 3px;
  border-radius: 50%;
}

::ng-deep tbody tr {
  cursor: pointer;
}

::ng-deep tbody tr:hover {
  background: #f4f4f4;
}

::ng-deep tbody tr:hover .profile-link-icon {
  opacity: 0.8;
}

.profiles-data-status {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
}

.profile-link-icon {
  float: right;
  opacity: 0.3;
}
